* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    padding: 40px;
    text-transform: none;
    text-align: center;
    background-color: transparent;
    color:	black;
}

h1 {
    margin-left: 8%;
    text-align: start;
    font-size: 50px;
}


.p-description {
    width: 55%;
    text-align: start;
    line-height: 20px;
    margin-left: 8%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.container img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
}

.container::after {
    content: "";
    width: 725px;
}

.footer {
    padding: 60px;
    height: 2.5rem;
    text-align: center;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px;
        margin-left: 0;
    }
    
    .p-description {
        font-size: 14px;
        margin-left: 0;
        width: 100%;
    }

    .header {
        border-bottom: solid 5px black;
    }
}