* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
    font-family: 'Playfair Display', serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: none;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 28px;
    background-color: transparent;
    color:	black;
    border-bottom: solid 2px black;
    margin-bottom: 30px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

.p-description {
    line-height: 23px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.container img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
}

.container::after {
    content: " ";
    width: 725px;
}

.footer {
    padding: 30px;
    margin-bottom: 70px;
    height: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
}

@media screen and (max-width: 1085px) {
    .header {
        padding-top: 10px;
    }

    h1 {
        font-size: 3.5rem;
        margin-left: 0;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1.3rem;
    }
    
    .p-description {
        font-size: 14px;
        margin-left: 0;
        width: 100%;
    }

    /* .header {
        border-bottom: solid 5px black;
    } */

    .container {
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}